

.header{
    text-align: center;
    margin: 100px;
}

.header h1 {
    font-size: 86px;
}

.header h2 {
    font-size: 36px;
}

.header p {
    font-size: 25px;
}


.navigation-buttons{
    text-align: center;
}

footer{
    text-align: center;
}

.fun {
    text-align: center;
}

.fun button{
    
    background: purple;
    color: white;
    margin: 20px;
    border-radius: 25px;
    font-size: 26px;
}

button:hover{
    cursor: pointer;
}

.lightBlue{
    background: lightblue;
}